In [1]:
import pandas as pd

In [2]:
# Sample DataFrame with Indian, Arab, and Israeli Names, City, and Job columns
data = {
    'Name': ['Arjun', 'Fatima', 'Ravi', 'David', 'Ayesha', 
             'Zara', 'Yosef', 'Arjun', 'Fatima', 'Ravi'],
    'City': ['Mumbai', 'Dubai', 'Delhi', 'Tel Aviv', 'Dubai', 
             'Jerusalem', 'Tel Aviv', 'Mumbai', 'Dubai', 'Delhi'],
    'Job':  ['Engineer', 'Doctor', 'Artist', 'Engineer', 'Doctor', 
             'Artist', 'Engineer', 'Engineer', 'Doctor', 'Artist']
}

In [3]:
df = pd.DataFrame(data)
df

     Name       City       Job
0   Arjun     Mumbai  Engineer
1  Fatima      Dubai    Doctor
2    Ravi      Delhi    Artist
3   David   Tel Aviv  Engineer
4  Ayesha      Dubai    Doctor
5    Zara  Jerusalem    Artist
6   Yosef   Tel Aviv  Engineer
7   Arjun     Mumbai  Engineer
8  Fatima      Dubai    Doctor
9    Ravi      Delhi    Artist

`keep='first' (default)`

In [4]:
# Identifying duplicates, keeping the first occurrence
duplicates_first = df.duplicated(keep='first')

print("\nDuplicates marked with keep='first':")
print(duplicates_first)

Duplicates marked with keep='first':
0    False
1    False
2    False
3    False
4    False
5    False
6    False
7     True
8     True
9     True
dtype: bool

`Explanation`: The first occurrence of each duplicate is marked as False, and subsequent duplicates are marked as True.

`keep='last'`

In [5]:
# Identifying duplicates, keeping the last occurrence
duplicates_last = df.duplicated(keep='last')
print("\nDuplicates marked with keep='last':")
print(duplicates_last)

Duplicates marked with keep='last':
0     True
1     True
2     True
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

`Explanation`: The last occurrence of each duplicate is marked as False, and preceding duplicates are marked as True.

`keep=False`

In [6]:
# Identifying duplicates, marking all duplicates
duplicates_all = df.duplicated(keep=False)
print("\nDuplicates marked with keep=False:")
print(duplicates_all)

Duplicates marked with keep=False:
0     True
1     True
2     True
3    False
4    False
5    False
6    False
7     True
8     True
9     True
dtype: bool

`Explanation`: All occurrences of the duplicates are marked as True.

Using `subset Parameter`

- Considering only columns 'Name' and 'City':

In [7]:
# Identifying duplicates based on columns Name and City only
duplicates_subset = df.duplicated(subset=['Name', 'City'], keep='first')
print("\nDuplicates based on subset=['Name', 'City']:")
print(duplicates_subset)

Duplicates based on subset=['Name', 'City']:
0    False
1    False
2    False
3    False
4    False
5    False
6    False
7     True
8     True
9     True
dtype: bool

`Dropping Duplicates`
- Dropping duplicates while keeping the first occurrence:

In [8]:
# Dropping duplicates, keeping the first occurrence
df_no_duplicates = df.drop_duplicates(keep='first')
print("\nDataFrame after dropping duplicates (keep='first'):")
print(df_no_duplicates)

DataFrame after dropping duplicates (keep='first'):
     Name       City       Job
0   Arjun     Mumbai  Engineer
1  Fatima      Dubai    Doctor
2    Ravi      Delhi    Artist
3   David   Tel Aviv  Engineer
4  Ayesha      Dubai    Doctor
5    Zara  Jerusalem    Artist
6   Yosef   Tel Aviv  Engineer

Explanation: Only the first occurrence of each duplicated row is kept, and all other duplicates are dropped.