--------------------
#### Understanding Target Encoding:
- Target encoding involves replacing categorical values with the mean of the target variable for each category. 
- This encoding method is particularly valuable when dealing with high-cardinality categorical features, as it captures the relationship between categories and the target variable, providing a smooth representation.
--------------------------------

In [3]:
#pip install category_encoders

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from category_encoders import TargetEncoder

In [2]:
# Sample DataFrame with a categorical column 'Category' and target variable 'Target'
data = {'Category': ['A', 'B', 'A', 'C', 'B', 'A', 'A', 'C', 'C'],
        'Target':   [1, 0, 1, 0, 1, 0, 1, 0, 1]}

In [3]:
df = pd.DataFrame(data)
df

  Category  Target
0        A       1
1        B       0
2        A       1
3        C       0
4        B       1
5        A       0
6        A       1
7        C       0
8        C       1

In [4]:
# Split the data into features and target variable
X = df[['Category']]
y = df['Target']

In [5]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [6]:
# Initialize the TargetEncoder
encoder = TargetEncoder()

In [7]:
# Fit and transform the training data
X_train_encoded = encoder.fit_transform(X_train, y_train)

In [8]:
# Transform the testing data
X_test_encoded = encoder.transform(X_test)